*.elc
.DS_Store
url/*
.emacs.changed
*.log
*~
*.bak
\#*\#
lisps/color*/
lisps/yasnippet*/
lisps/xref/
lisps/template/
lisps/emacs-*/
lisps/ecb*/
lisps/elib*/
lisps/ri-*
!lisps/*.gz
lisps/company*
!lisps/*.bz2
